<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "contact_form_enabled" }}

                <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>

                <div id="contact-message"></div>

                <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLScNybiXzhabc2hLP0s2ggGmIw6ZtQG47WN3BwE9UFYQtnaNXg/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            Name:<br>
                            <input type="text" class="form-control" name="entry.1545664179" id="entry.1545664179"><br>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                      Email:<br>
                      <input type="text" class="form-control" name="entry.2021936762" id="entry.2021936762">
                  </div></div>
                    <div class="col-sm-12">
                        <div class="form-group">
                      Message:<br>
                      <textarea type="text" class="form-control" name="entry.955167767" id="entry.955167767"></textarea>
                  </div></div>
                    <div class="col-sm-12 text-center">
                      <button type="submit" class="btn btn-template-main"><i class="far fa-envelope"></i>Send Message</button>
                    </div>
                    </div>
                </form>

                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>


                {{ end }}

            </section>

        </div>

        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>

    </div>
    <!-- /.row -->
</div>

<script src="assets/js/jquery.min.js"></script>
<script type="text/javascript">var submitted=false;</script>
<script type="text/javascript">
$('#gform').on('submit', function(e) {
  $('#gform *').fadeOut(2000);
  $('#gform').prepend('Thank you for reaching out. We will get back to you soon!');
  });
</script>

{{ partial "map.html" . }}
